<!DOCTYPE html>
<html
		th:insert="~{layout/master-layout :: layout(${pageTitle}, ~{::section})}"
		xmlns:th="http://www.thymeleaf.org"
>
<head></head>
<body>
<section class="card-body" th:fragment="content">
	<h3 class="mb-4">Editer format à mono structure</h3>
	<form autocomplete="off" id="toto" th:data-url="@{/structurs/update/}">
		<input
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}"
				type="hidden"
		/>
		<input id="struck-id" th:value="${toto.id}" type="hidden"/>
		<div class="row">
			<div class="mb-3 col-4">
				<label class="form-label" for="struc-name">Nom Structure</label>
				<input
						class="form-control"
						id="struc-name"
						onchange="checkempty('#struc-name')"
						th:value="${toto.StrName}"
						type="text"
				/>
				<div
						class="form-text text-danger"
						id="struc-name-help"
						style="display: none"
				>
					We'll never share your email with anyone else.
				</div>
			</div>

			<div class="mb-3 col-4">
				<label class="form-label" for="lib-struc">Libelle</label>
				<input
						class="form-control"
						id="lib-struc"
						onchange="checkempty('#lib-struc')"
						th:value="${toto.libelle}"
						type="text"
				/>
				<div
						class="form-text text-danger"
						id="lib-struc-help"
						style="display: none"
				>
					We'll never share your email with anyone else.
				</div>
			</div>
			<div class="mb-3 col-4">
				<label class="form-label" for="struc-type" hidden>Type</label>
				<select class="form-select" hidden id="struc-type" name="typestruc">
					<option th:selected="${'file' == toto.StrType}" value="file">
						ficher
					</option>
					<option th:selected="${'struc' == toto.StrType}" value="struc">
						structure
					</option>
				</select>
				<div
						class="form-text text-danger"
						hidden
						id="struc-type-help"
						style="display: none"
				>
					We'll never share your email with anyone else.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table text-nowrap mb-0 align-middle">
						<thead class="text-white fs-4">
						<tr>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0">nom</h6>
							</th>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0">type</h6>
							</th>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0">position</h6>
							</th>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0">longeur</h6>
							</th>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0">lien</h6>
							</th>
							<th class="border-bottom-2">
								<h6 class="fw-semibold mb-0"></h6>
							</th>
						</tr>
						</thead>
						<tbody id="field_tab">
						<tr class="field-row" th:each="field : ${structureDetail}">
							<td class="border-bottom-1">
								<input
										class="row-id"
										id="row-id"
										th:value="${field.id}"
										type="hidden"
								/>
								<input
										class="form-control field-input"
										id="field"
										min="0"
										onkeyup="UpdateListItems(this)"
										placeholder="field name"
										th:value="${field.name}"
										type="text"
								/>
								<span
										class="text-danger fw-bolder fs-1 input-error"
										style="display: none"
								></span>
							</td>
							<td class="border-bottom-1">
								<select
										class="form-select typefields"
										id="type01"
										name="typefields"
										onchange="checkType(this)"
								>
									<option
											th:selected="${'alfa' == field.type}"
											value="alfa"
									>
										text
									</option>
									<option
											th:selected="${'number' == field.type}"
											value="number"
									>
										number
									</option>
								</select>
								<input
										class="form-control mt-2 decimal"
										id="decimal"
										min="0"
										placeholder="taille décimale"
										th:style="${'number' == field.type} ? '' : 'display:none;'"
										th:value="${field.decimal}"
										type="number"
								/>
								<span
										class="text-danger fw-bolder fs-1 input-error"
										style="display: none"
								></span>
							</td>
							<td class="border-bottom-1">
								<input
										class="form-control position"
										id="position"
										min="0"
										onchange="checkNumber(this)"
										placeholder="position"
										th:value="${field.position}"
										type="number"
								/>
								<span
										class="text-danger fw-bolder fs-1 input-error"
										style="display: none"
								></span>
							</td>
							<td class="border-bottom-1">
								<input
										class="form-control longeur"
										id="longeur"
										min="0"
										onchange="checkNumber(this)"
										placeholder="longeur"
										th:value="${field.longeur}"
										type="number"
								/>
								<span
										class="text-danger fw-bolder fs-1 input-error"
										style="display: none"
								></span>
							</td>
							<td class="border-bottom-1">
								<input class="form-control lien" id="lien" onchange="checkempltylink(this)" placeholder="lien" th:value="${field.link}" type="text"/>
								<span class="text-danger fw-bolder fs-1 input-error" style="display: none"></span>
							</td>
							<td class="border-bottom-1">
								<a class="btn btn-link m-1" onclick="removeItem(this)"
								><i class="ti ti-trash"></i
								></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div
				class="alert alert-danger"
				id="alert"
				role="alert"
				style="display: none"
		>
			
		</div>
		<div
				class="d-flex justify-content-between align-content-center m-2 mt-3"
		>
			<button class="btn btn-primary" id="add_btn">ajouter un champ</button>
			<button class="btn btn-primary" id="gene_sim_xml_btn">
				générer la structure xml
			</button>
		</div>
		<div class="card">
			<div class="card-body">
            <textarea
					class="form-control"
					cols="30"
					id="big-expression"
					name=""
					rows="10"
					th:text="${toto.expression}"
			></textarea>
				<span
						class="text-danger fw-bolder fs-1 input-error"
						style="display: none"
				></span>
			</div>
		</div>
		<div
				class="d-flex justify-content-between align-content-center m-2 mt-3"
		>
			<div></div>
			<button class="btn btn-primary" id="btnsubmit">Soumettre</button>
		</div>
	</form>
</section>
</body>
</html>
